*,
*::before,
*::after {
  box-sizing: border-box;
}

.date {
  display: flex;
  width: min-content;
  align-items: center;
  user-select: none;
}

.day {
  font-size: 3em;
}

.month-year {
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 1.4;
  margin-top: 3px;
  margin-left: 4px;
}

.delete {
  cursor: pointer;
  padding: 4px;
}